<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
<!--    <link rel="icon" type="image/x-icon" href="/Volumes/NINO'S SSD 1/Search Engine/project-nestrada2/src/main/resources/rooster.jpeg">-->
    <title>%1$s</title>

    <style>

        </style>
</head>

<body>

<div class="test">
    <!-- <h1>>  </h1> -->

    <div class="testing">

    </div>

    <h1>%1$s</h1>
    <!-- <h1 id="element"></h1> -->

</div>


<form method="get" action="/get_search">
    <div class="form-group">

        <div>
            <input type="text" name="query" size="50" placeholder="rooster me" list="search"></input>

                                   <datalist id="search">
                                        <option value="hello world"></option>
                                        <option value="can i google google?"></option>
                                        <option value="HTML tags"></option>
                                        <option value="VS Code cheat sheet"></option>
                                        <option value="i love elephants"></option>
                                        <option value="the number one cardinal rule"></option>
                                        <option value="national pizza deals"></option>
                                        <option value="four"></option>
                                        <option value="balloon"></option>
                                        <option value="but, dad, don't we eat the antelope?"></option>

                                   </datalist>

        </div>

        <div class="center">

            <button class="btn btn-default" type="submit">Search</button>
            <button class="btn btn-default" type="submit">Feeling Lucky...Punk</button>

        </div>

        <p>
            <!-- <button class="btn btn-default" type="submit">Search</button> -->

        </p>

    </div>

</form>

<pre>
        %2$s
    </pre>

</body>

</html>